<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback page for spotify!</title>
</head>
<body>
      <link rel="stylesheet" type="text/css" href="style.css">
  
    <form method="post" action="/comments">
        <!-- Heading -->
        <h4>
I want to know what you think about the most amaznig app ever!!!!!</h4>

     



        <div>
            <label>username</label>
            <div>
                <input type="username" name="username">
            </div>
        </div>
    
        <div>
            <label>Add Comment</label>
            <div class="input-group">
                <input type="text"  name="text">
            </div>
        </div>
        
        <!-- Button -->
        <div>
          <input type="submit" />
        </div>
    </form>
</body>

</html>